{
  "env": {
    "ANTHROPIC_BASE_URL": "http://127.0.0.1:8318",
    "ANTHROPIC_AUTH_TOKEN": "__LOCAL_API_KEY__",
    "API_TIMEOUT_MS": "600000",
    "MCP_TOOL_TIMEOUT": "120000",
    "CLAUDE_CODE_AUTO_COMPACT_WINDOW": "244800",
    "CLAUDE_AUTOCOMPACT_PCT_OVERRIDE": "98",
    "CLAUDE_CODE_ENABLE_TASKS": "true",
    "CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS": "false"
  }
}
